literature/pdfs/
literature/notebooklm/notebooklm_export/
literature/notebooklm/upload_theme_a/
literature/notebooklm/upload_theme_b/
literature/notebooklm/upload_theme_c/
dismissed_ideas/literature/
literature/notebooklm/notebooklm_summaries/old
literature/Elicit_export
.claude/
.Rproj.user/

spinoffs/
AI_for_sociological_research.Rproj
*.Rproj
